{{#if success_msg}}
  <div class="flash flash-success">
    <div class="success-color">{{success_msg}}</div>
    <i class="flash-close success-color">&times;</i>
  </div>
{{/if}}

{{#if error_msg}}
  <div class="flash flash-error">
    <div class="error-color">{{error_msg}}</div>
    <i class="flash-close error-color">&times;</i>
  </div>
{{/if}}
