<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinterest</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Pacifico" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Additional Page-Specific CSS -->
    {{{_sections.styles}}}
  </head>
  <body>

    <!-- Navbar -->
    {{> _navbar}}

    <!-- Flash messages -->
    {{> _flash}}

    <!-- Page Body -->
    <div class="space-before-body"></div>
    {{{body}}}


    <script>
      // Hide flash messages if their content is empty
      var successMsg = document.querySelector('.flash-success');
      var errorMsg = document.querySelector('.flash-error');
      var flashClose = document.querySelector('.flash-close');

      // Close flash messages
      flashClose.addEventListener('click', function() {
        successMsg.style.display = 'none';
        errorMsg.style.display = 'none';
      });
    </script>

    {{#if user}}
    <script>
      // show/hide dropdown on user icon click
      var userImg = document.querySelector('.navbar-user-img');
      var navDropdown = document.querySelector('.navbar-dropdown');
      userImg.addEventListener('click', toggleDropdown);

      function toggleDropdown() {
        if(navDropdown.style.display === 'block') {
          navDropdown.style.display = 'none';
        } else if(navDropdown.style.display === '' || navDropdown.style.display === 'none') {
          navDropdown.style.display = 'block';
        }
      }
    </script>

    {{else}}
    <!-- Login Modal -->
    <div class="modal" id="login-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Log in</h2>
          <span class="modal-close" id="close-login">&times;</span>
        </div>
        <hr>
        <div class="modal-body">
          <form class="form" method="post" action="/auth/login">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Log in</button>
          </form>
          <div class="or">or</div>
          <a href="/auth/google" id="google-button"><i class="fa fa-google" aria-hidden="true"></i>Log in with Google</a>
          <a href="/auth/twitter" id="twitter-button"><i class="fa fa-twitter" aria-hidden="true"></i>Log in with Twitter</a>
        </div>
      </div>
    </div>

    <!-- SignUp Modal -->
    <div class="modal" id="signup-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Sign Up</h2>
          <span class="modal-close" id="close-signup">&times;</span>
        </div>
        <hr>
        <div class="modal-body">
          <form class="form" method="post" action="/auth/signup">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password2" placeholder="Confirm Password">
            <button type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

    <script src="/js/auth_modals.js"></script>
    {{/if}}

  </body>
</html>
