<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap Grid -->
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Additional Page-Specific CSS -->
    {% block stylesheets %}{% endblock %}
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar">
      <a href="/"><img src="/images/logo.png" class="logo" alt="logo"></a>
      <ul class="navbar-left">
        <li><a href="#">Placeholder</a></li>
      </ul>
      <ul class="navbar-right">
        {% if user %}
          <li><a href="/auth/logout">Logout</a></li>
        {% else %}
          <li><span id="login-btn">Login</span></li>
          <li><span id="register-btn">Register</span></li>
        {% endif %}
      </ul>
      <div class="clearfix"></div>
    </nav>

    <!-- Flash messages -->
    {% if success_msg %}
      <div class="flash flash-success">{{ success_msg }}</div>
    {% endif %}

    {% if error_msg %}
      <div class="flash flash-error">{{error_msg}}</div>
    {% endif %}

    <!-- Page Body -->
    {% block body %}{% endblock %}

    <script>
      // Hide flash messages if their content is empty
      // This is just a temporary workaround
      var success_msg = document.querySelector('.flash-success');
      var error_msg = document.querySelector('.flash-error');

      if(success_msg.innerHTML.length === 0) {
        success_msg.style.display = 'none';
      }

      if(error_msg.innerHTML.length === 0) {
        error_msg.style.display = 'none';
      }
    </script>

  </body>
</html>
