{% extends 'layouts/master.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/modals_and_forms.css">
<link rel="stylesheet" href="/css/pinterest-grid.css">
{% endblock %}

{% block body %}
<div class="container-fluid body-wrapper">
  <div class="pinterest-grid">
    <!-- New Pin -->
    <div class="pin new-pin">
      <h1>&plus;</h1>
      <h2>Create Pin</h2>
    </div>

    {% for pin in pins %}
    <div class="pin">
      <img src="/images/uploads/{{pin.image}}" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
      <p>{{pin.body}}</p>
    </div>
    {% endfor %}
  </div>

  <!-- New Pin Modal -->
  <div class="modal" id="new-pin-modal">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="modal-content col-md-6">

          <div class="modal-header">
            <h2>Create New Pin</h2>
            <span class="modal-close" id="close-new-pin">&times;</span>
          </div>
          <hr>
          <div class="modal-body">

            <form class="form" action="/pins/add" method="post" enctype="multipart/form-data">

              <textarea name="body" rows="8" cols="80"></textarea>

              <hr>

              Allow Comments?
              <input type="checkbox" name="allowComments" checked>

              <hr>

              <select name="status">
                <option value="private">Private</option>
                <option value="public" selected>Public</option>
              </select>

              <hr>

               Image
              <input type="file" name="image">

              <button type="submit" name="submit">Add</button>

            </form>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modals Script -->
<script src="/js/welcome_modals.js"></script>
{% endblock %}
