{% extends 'layouts/master.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/modals_and_forms.css">
<link rel="stylesheet" href="/css/pinterest-grid.css">
{% endblock %}

{% block body %}
<div class="container-fluid body-wrapper">
  <div class="pinterest-grid">

    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <h1>FIRST</h1>
    </div>

    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
    </div>

    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
      <p>testtest test test test</p>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
      <p>testtest test test test</p>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
      <p>testtest test test test</p>
    </div>
    <div class="pin">
      <img src="/images/placeholder.jpg" alt="">
      <div class="overlay">
        <a href="#" class="overlay-link">More</a>
      </div>
    </div>

  </div>
</div>

<!-- Login Modal -->
<div class="modal" id="login-modal">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="modal-content col-md-6">

        <div class="modal-header">
          <h2>Login</h2>
          <span class="modal-close" id="close-login">&times;</span>
        </div>
        <hr>
        <div class="modal-body">
          <form class="form" method="post" action="/auth/login">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
          </form>

          <p>OR</p>

          <a href="/auth/google">Sign in with Google</a>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Register Modal -->
<div class="modal" id="register-modal">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="modal-content col-md-6">

        <div class="modal-header">
          <h2>Register</h2>
          <span class="modal-close" id="close-register">&times;</span>
        </div>
        <hr>
        <div class="modal-body">
          <form class="form" method="post" action="/auth/register">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password2" placeholder="Confirm Password">
            <button type="submit">Register</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modals Script -->
<script src="/js/auth_modals.js"></script>

{% endblock %}
