/* login modal */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.modal-content {
  background: #fff;
  margin-top: 200px;
  animation-name: modalopen;
  animation-duration: 0.7s;
  box-shadow: 0 4px 6px 0 rgba(100, 100, 100, 0.4), 0 5px 15px 0;
}

@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}

.modal-header {
  padding: 10px 0;
}

.modal-header h2 {
  color: #0287c8;
  display: inline-block;
}

.modal-close {
  float: right;
  font-weight: bold;
  font-size: 20px;
}

.modal-close:hover {
  color: #ad0909;
  font-size: 24px;
}

.modal-body {
  padding: 10px;
}

.form {
  text-align: center;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #888;
  border-radius: 20px;
}

.form input:focus {
  outline: none;
  border: 1px solid #0287c8;
  box-shadow: 0 0 3px #0287c8;
}

.form button {
  padding: 7px;
  border: 2px solid #0287c8;
  border-radius: 20px;
  width: 100px;
  color: #0287c8;
  background: #fff;
  font-weight: bold;
  font-size: 16px;
}

.form button:hover {
  color: #fff;
  background: #0287c8;
}
